# **Data Science Tools and Ecosystem**

# ***In this notebook, Data Science Tools and Ecosystem are summarized.***

# **Some of the popular languages that Data Scientists use are:**
    1.Python
    2.R
    3.SQL
    4.Julia
    5.Scala

# **Some of the commonly used libraries used by Data Scientists include:**
    1. matplotlib
    2. numpy
    3. pandas
    4. seaborn
    5. scikit-learn

# Table
| Data Science Tools|
|-------------------|
| jupyter |
| jupyerLite |
| Google Collab |

### Below are a few examples of evaluating arithmetic expressions in Python : 
 * $x^2$
 * $x*y$
 * $y+z$

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
min=200
hr=min/60
round(hr,2)

3.33

# **Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Show how to create tables in markdown cells
* Show how to write expressions in markdown cells
* Evaluate expressions in code cells and show result

## Author
Khushi Bhupesh